/*Zack's Style Sheet
/* Show pull*/

.nav-bar {
    display: flex;
}

.nav {
    display: flex;
}


.double-tap {
    display: flex;
}

.two-btns {
    display: flex;
}

/*-----------------*/

.info-footer {
    display: flex;
    justify-content: start;
} 

.info-footer p{
    padding-right: 25px;
    margin-top: auto;
    text-size-adjust: auto;
    font-weight: 500;
}

.circles{
    color: #0850f8;
}

#col-1{
    min-width: 540px;
    max-height: 500px;
}

.h4-tag{
    margin-top: 30px;
    margin-bottom: 30px;
}


#gray-text{
    color: rgb(148, 146, 146);
    margin-bottom: 40px;
}

#img-1{
    max-height: 500px;
    max-width: 500px;
}

.btns{
    border-radius: 7px;
    border: 1px;
    width: 200px;
    margin-bottom: 30px;
}

.btns-1{
    background-color: #0850f8;
    color: white;
    padding: 10px;
    border: 1px solid #0850f8;
    margin-right: 10px;
}

.btns-2{
    background-color: #ffffff;
    color:  #0850f8;
    padding: 10px;
    border: 1px solid #0850f8;
}