/*Zack's Style Sheet
/* Show pull*/

.nav-bar {
    display: flex;
}

.nav {
    display: flex;
}


.double-tap {
    display: flex;
}

.two-btns {
    display: flex;
}

/*--------------------------*/

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.col {
    flex: auto;
}

/*---------------------------------------------------*/

.row-3{
    color: #858484;
}





/*---------------------------------------------------*/
.row-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /
}

.btn {
    display: flex;
}

.btns-2 {
    width: 150px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.styled-btns {
    background-color: white;
    color: #0850f8;
    border: 2px solid #0850f8;
    padding: 10px;
}

.btns-2:first-child {
    background-color: #0850f8;
    color: white;
    text-align: center;
    padding: 10px;
    border: #0850f8;
}

/*---------------------------------------------------*/

.row-5{
    font-size: 1.2rem;
    color: #858484;
}


/*---------------------------------------------------*/


.row-6 {
    display: flex;
    font-size: 80%;
}


/*---------------------------------------------------*/

.col.col-2{
    display: flex;
}

.col-2{
    display: flex;
    justify-content: center;
    width: 25%;
    padding-bottom: 1.2%;
    align-items: center;
    

}
